<h1><%= cont  %></h1>
<div>
<div>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Enter Username" />
  <input type="password" name="password" placeholder="Enter Password" />
  <button>Login</button>
</form>
</div>
<div>
  <li><a href="/login">Sign in</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/logout">Logout</a></li>
</div>
</div>